{% extends "base.html" %} {% block title %} My Orders {% endblock %}
{% block content %}
<h1>My Orders</h1>
{% if orders %}
<table class="table table-striped">
  <thead>
    <tr class="" style="background-color: #5993bb;">
      <th scope="col">Order Number</th>
      <th scope="col">Date</th>
      <th scope="col">Total</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>
        {{ order.id }}
      </td>
      <td>{{ order.created }}</td>
      <td>{{ order.get_total_cost }}</td>
      <td>
        {% if order.paid %}
        <span class="badge rounded-pill bg-success">Success</span>
        {% else %}
        <span class="badge rounded-pill bg-warning text-dark">Incomplete</span>
        {% endif %}
    </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>You have no orders.</p>
{% endif %}
 {% endblock %}
