{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}maranomadsstore{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="African literature brought home">
    <meta name="author" content="Marvin Kweyu">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {% endblock javascript %}

  </head>

  <body>

    <div class="mb-2 d-flex justify-content-between" style="background-color: #2d3753;">
          <a class="navbar-brand px-2" href="/" style="color: white">The Mara Nomads store</a>
          <div class="px-2 mt-2">
          <div class="cart mx-2">
             {% if not request.user.is_authenticated %}

                  {# URL provided by django-allauth/account/urls.py #}
                  <a id="log-in-link" class="px-2" style="color: white" href="{% url 'account_login' %}">
                {% translate "Sign In" %}
                  </a>


                {% else %}


                {# URL provided by django-allauth/account/urls.py #}
                <a class="px-2" href="{% url 'account_logout' %}" style="color: white">{% translate "Sign Out" %}</a>


              <a class="px-2" href="{% url 'orders:list_my_orders' %}" class="" style="color: white">My Orders</a>



              {% endif %}
                {% with total_items=cart|length%}
                {% if total_items > 0 %}
                 <span style="color: white"> {% trans "Your cart" %}:</span>
                  <a href="{% url "cart:cart_detail" %}" style="color: #77b6e2">
                      {% blocktrans with total=cart.get_total_price count items=total_items %}
                          {{items }} item, ${{total }}
                          {% plural %}
                          {{items }} items, ${{total }}

                      {% endblocktrans %}

                  </a>
                {% else %}

                   {% trans "Your cart is empty." %}
            {% endif %}
            {% endwith %}
            </div>
          </div>
    </div>

    <div class="container">

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}


      <div>
            {% block content %}
            {% endblock %}
      </div>



    </div> <!-- /container -->

    <!-- <div class="footer d-flex justify-content-between bottom-0">
        <div class="footer-left">
          <p>&copy; 2021 The Mara Nomads store</p>
        </div>
        <div class="footer-right">
          <p>Powered by <a href="https://www.maranomads.com">Marvin Kweyu</a></p>
        </div>

    </div> -->
  </body>
</html>
